In [ ]:
=# 1. If name = ''' Hi How are you?

# Starterd learning python.

# It's really interesting.''' Then what is the output of following code
name = ''' Hi How are you?

Starterd learning python.

It's really interesting.'''

name[:]

name[-10:-5]

name[3:12]

name[12:3]

name[5,6]

name[-4:-12]

name[::2]

name[::-2]

In [ ]:
#Q2
L1 = ["a" , 'b', 20, 30, 100, 300, 400, 'Happy', 'major']

print(L1[:])

print(L1[::3])

print(L1[::-2])

# d. How to extract value “Happy” based on index and negative index

print(L1[-2])

# e. How to check type of data in list at 4th position

print(type(L1[4]))

# f. Extract values for 100, 300, 400
print(L1[4:7])

In [ ]:
# Q3
L2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, "Success"]  # then what is the output of following

L2[4]

L2[1:5]

L2[7]

L2[7][2]

[7][2:]

L2[ : 3]

L2[3:]

In [ ]:
#4.	From the above l2 value ‘b’ must be changed to ‘BEE’.

L2[4].insert(1,'Bee')
L2

In [ ]:
# 5.	From l2 “BEE” has to discard.
L2[4].remove('Bee')

In [ ]:
# 6.	In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
da= {
    'insect': ['bee', 'moth'],
    'bird': ['parrot', 'sparrow']
}
L2.append(da)

In [ ]:
#7. From L2 extract insect information.
L2[-1]["insect"]

In [ ]:
# 8.	Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2
d1 = {'a':10, 'b':20, 'c': 30}
L2.insert(2,d1)

In [ ]:
# 9.	Based on new l2 created here extract the value 10 from l2 dictionary.
L2[2]['a']

In [ ]:
#10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following

· L2[4][2]

· L2[5][:]

· L2[2] [:]

· L2[1:5]

· L2[5]

· L2[5][3:-1]

· L2[-1]

· L2[-4, -3]

· L2[-4: -10]

· L2[7][2]

· L7[-7][[2:]

· L2[ :-3]

· L2[-3:]

In [ ]:
# IF-elif-else:
# Q 11.	Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
# If marks are more than 80 output must be “You got distinction”
# For marks more than 60 output must be “You got First class”
# Marks more than 40 will display “You got second class”
# Marks more than or equal to 35 “PASS” Otherwise Fail
marks = int(input("Enter your marks: "))

if marks > 80:
    print("You got distinction")

elif marks > 60:
    print("You got First class")

elif marks > 40:
    print("You got Second class")

elif marks >= 35:
    print("PASS")

else:
    print("Fail")

In [ ]:
# 12.	Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
# If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
# If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
# If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
# If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no
salary = float(input("Enter your yearly salary (in LPA): "))
rating = input("Enter your rating (A, B, C, D): ").upper()

increment = 0

if salary <= 5:
    if rating == "A":
        increment = 16
    elif rating == "B":
        increment = 12
    elif rating == "C":
        increment = 10
    elif rating == "D":
        increment = 6

elif salary <= 10:
    if rating == "A":
        increment = 14
    elif rating == "B":
        increment = 10
    elif rating == "C":
        increment = 8
    elif rating == "D":
        increment = 6

elif salary <= 15:
    if rating == "A":
        increment = 8
    elif rating == "B":
        increment = 6
    elif rating == "C":
        increment = 4
    elif rating == "D":
        increment = 0

elif salary <= 23:
    if rating == "A":
        increment = 7
    elif rating == "B":
        increment = 5
    elif rating == "C":
        increment = 4
    elif rating == "D":
        increment = 0

else:
    print("Salary out of defined range")

if salary <= 23:
    if rating in ["A", "B", "C", "D"]:
        new_salary = salary + (salary * increment / 100)
        print("Increment percentage:", increment, "%")
        print("New salary after increment:", new_salary, "LPA")
    else:
        print("Invalid rating")

In [ ]:
# Type Casting
# 17.	Create
a=100
# •	Convert a to string
str(a)
# •	Convert a to list
list(a)
# •	Convert a to tuple
tuple(a)
# •	Convert a to dict
dict(a)
# •	Convert a to set
set(a)
# •	Convert to float
float(a)
# Observe the errors and note it down for all conversions.

In [ ]:
# 8.	Create city = “Pune”
city = "Pune"
# •	Convert to int
# int(city)
# •	Convert float
# float(city)
# •	Convert list
# list(city)
# •	Convert tuple
tuple(city)
# # •	Convert dict
# dict(city)
# # •	Convert set
set(city)
# •	Obsert errors and note it down for all conversions

{'P', 'e', 'n', 'u'}

In [ ]:
# 9.	Create a list as
marks = [20,18,15,17,18]
# •	Convert to int

# # int(marks)
# # •	Convert float
# float(marks)
# # •	Convert list
# list(marks)
# # •	Convert tuple
# tuple(makrs)
# •	Convert dict
# dict(marks)
# •	Convert set
# set(marks)
# •	observe : errors and note it down for all conversions

{15, 17, 18, 20}

In [ ]:
# 10.	Create the empty list snames

a = []
# •	 Add value 20 in the list using append
a.append(20)
# •	 Add value 30 in the list using extend
b=[30]
a.extend(b)
# •	Add values in the list using append
a.append(20)
# •	Add value “WORK" in the list using extend
b=['work']
a.extend(b)
# •	 Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]
n = [1,2,3,4,'a']
# •	Add sname to combo using addition operator
m = ['e','r',4,5,6]

# •	Add combo to snames using append

m.append(n)
# •	Add combo to snames using extend.
m.extend(n)

In [ ]:
from ast import Index
from os import remove
# 11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1
l1 = [1,2]
l3 = [1,2,3,4,5,6,7]
l3.insert(4,l1)
# 12.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer
# or float then multiply with 5.
lst = [1,2,3,['a','b','c'],100,'Nisha',20.50,90.10]
n = []
for item in lst:
    if type(item) == int or type(item) == float:
        n.append(item * 5)
    else:
        n.append(item)

print(n)
# •	From the collection delete the record for “Nisha”
lst.remove('Nisha')
# •	Find the location of 20.50
lst.index(20.50)

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

5

In [ ]:
# 13.	Create a comprehensive list for square upto 10
a = [i**2 for i in range(10)]

# 14.	Create the comprehensive list to find number divisible by 13 till 200
b= [i for i in range(200) if i%13 == 0]
print(b)

# 15.	Create the list which is divisible by 4 from 300 to 400
c = [i for i in range(300,401) if i%4==0]
print(c)

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]
[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [ ]:
# 17.	 What is the difference between add and update methods in set?
# 18.	What is the difference between append and extend methods in list?
# 19.	What is the difference between pop and remove methods?
# 20.	What is the difference between discard, pop, remove methods?
# 21.	How to create empty set?
# 22.	Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
# 23.	Create l2 as a list and perform set operation on s1 with l1
# 24.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm.
#      For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

In [ ]:
a =set()

In [ ]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {5,6,7,8,9,10,11,22,33,44,55,66}

s1 | s2

s1 & s2

{5, 6, 7, 8, 9}

In [ ]:
s1.intersection(s2)
s1.union(s2)
s1-s2
s2-s1

{10, 11, 22, 33, 44, 55, 66}

In [ ]:
s1^s2

{1, 2, 3, 4, 10, 11, 22, 33, 44, 55, 66}

In [ ]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 33, 44, 55, 66}

In [ ]:
l2 = [1,2,3,4,5,6,7,8]

In [ ]:
s1|l2

In [ ]:
#24
user  = input("Enter yout name")
dob = input("date of birth (dd-mm-yyyy)")

c = user[:4]
d = dob.replace("-" or "/","")

print(c+"@"+d[:4])

Enter yout nameNilesh
date of birth (dd-mm-yyyy)20-10-2000
Nile@2010

In [ ]:
# 25.	Ask user to enter the name and DOB and generate the password based on
# first name 4 characters and  last 4 digits of DOB or year @yyyy.
#  For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978
# 26.	Create the format mentioned here.
# *
# * *
# * * *
# * * * *

# 27.	Create the format as mentioned below:
# ****
# ***
# **
# *
# 28.	Str_val = “ABCD” then create the format as mentioned below:
# A
# A B
# A B C
# A B C D
# 29.	Create the format mentioned below:
# A
# BB
# CCC
# DDDD
# 30.	Create the format mentioned below:
# 1
# 22
# 333
# 4444
# 31.	Val = “ABCD”  based on the Val, create the format mentioned below
# D
# DC
# DCB
# DCBA
# 32.	Ask user to enter the string. If string is UPGRAD then output must be
# D
# DA
# DAR
# DARG
# DARGP
# DARGPU


# 33.	Create a list of odd numbers from 1 to 10
# 1.	Using for loop
# 2.	Using comprehensive list
# 34.	Create even number list using for loop from 200 to 250
# 35.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
# Multiply each and every element by 2 and display the answer

In [ ]:
for i in range(1,5):
  print(i * "*")

*
**
***
****

In [ ]:
for i in range(5,0,-1):
  print(i * "*")

*****
****
***
**
*

In [ ]:
Str_val = "ABCD"

for i in range(1,len(Str_val)+1):
  print(Str_val[:i])

A
AB
ABC
ABCD

In [ ]:
for i in range(len(Str_val)):
  print(Str_val[i] * (i+1))

A
BB
CCC
DDDD

In [ ]:
# 31.	Val = “ABCD”  based on the Val, create the format mentioned below
# D
# DC
# DCB
# DCBA
def reversed(a):
  for i in range(1,len(a)+1):
    b = a[::-1][:i]
    print (b)

a = "Abcd"
reversed(a)

d
dc
dcb
dcbA

In [ ]:
a = input("enter the string")
for i in range(1,len(a)+1):
    print( a[::-1][:i])

enter the stringupgrade
e
ed
eda
edar
edarg
edargp
edargpu

In [ ]:
# 33.	Create a list of odd numbers from 1 to 10
# 1.	Using for loop
# 2.	Using comprehensive list

a = [i for i in range(1,10) if i%2 == 1 ]

for i in range(10):
  if (i%2==1):
    print(i)
a

1
3
5
7
9

[1, 3, 5, 7, 9]

In [ ]:
# 34.	Create even number list using for loop from 200 to 250

l = [i for i in range(200,250) if i%2 == 0]
l

[200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248]

In [ ]:
para = 2
List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
# Multiply each and every element by 2 and display the answer
l2 = []
for i in List2:
  try:
    l2.append(i*2)
  except  TypeError  :
    l2.append(i)
print(l2)

[4, 140, 'workwork', 4, 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [ ]:
# 36.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

# Multiply each and every element from list2 by 2 and store the answer in list3
# 37.	Create a function to accept marks from user utilize exception concept to validate proper marks.
# 38.	Create a function to validate user first name/last name. User first name/last name should contain only characters. No special characters, numbers, space in name
# 39.	Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.
# 40.	Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.
# 41.	Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.
# For example:
# {}
# {1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}

# {1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
# 2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}
# 42.	Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log
# 43.	Based on the above example read the file cust_info.txt . check if dictionary any information is available in the file. If there is information then read the dictionary store into one variable and then append new information of customer if added.
# 44.	Create a table  cust_info as sr_no, name, DOB, mobile. Ask user to enter the information from python code. Validate all fields and after validation insert records in the table.

# 45.	Dict1= {“Key”: {“subkey”:20} ,  “k2”:{“sub2” : 5}, “k3” : {“sub4” :16},  “k4” : {“sub4” : 6}}
# Sort elements based on values
# Output must be {,  “k2”:{“sub2” : 5}, “k4” : {“sub4” : 6},  “k3” : {“sub4” : 16}, “Key”:{“subkey”:20}}

In [ ]:
# Create a function to accept marks from user utilize exception concept to validate proper marks.
def Acceptmarks (marks):
  try:
    if marks > 100 or marks > 0:
      print( "marks accepted")
    else:
      print("not accepted")
  except TypeError:
    print ("erroe" , TypeError)
  except ValueError as v:
    print ("erroe" , v)

m = int(input("enter the marks"))
Acceptmarks(m)

enter the marks1111
marks accepted

In [ ]:
def AcceptMarks (marks):
  try:
    marks = float(input("enter num"))
    if marks < 0 or marks > 100:
      raise ValueError ("marks is not valid")

    print( marks)

  except TypeError as t :
    print ("error", t )

  except ValueError as v:
    print("error" , v)


AcceptMarks()

enter num1000
error marks is not valid

In [ ]:
class InvalidMobileNoError (Exception):
  pass

def AcceptMobileNo ():
  try :
    mo = input("enter Mobile No")
    if not mo.isdigit():
      raise InvalidMobileNoError("mobile number should be number")
    if len(mo) != 10 :
      raise InvalidMobileNoError("mobile number should be only 10 digit")
    print("valid mobile number")
  except InvalidMobileNoError as V :
    print("error " , V)
AcceptMobileNo()

enter Mobile No1234567891
valid mobile number

In [ ]:
# 40.	Create a function to generate auto-password based on specific
# person details. Ask user to enter name, DOB. And password must be First name
#  4 characters and year of birth.


def AutoPassword ():
  user = input("enter the username")
  dob  = input("enter the dob in dd-mm-yyyy")

  date = dob.replace("-", "")[:4]
  return user[:4] + "@" + date

AutoPassword()

enter the usernamehsdfhsd
enter the dob in dd-mm-yyyy2-3-4-22

'hsdf@2342'

In [ ]:
def Addcustomer() :
  d= {}
  while True :
    if len(d) == 4 :
      break
    user  = input("enter the name : ")
    dob = input("date of birth : ")
    mobile  = input("Mo No  : ")
    a = len(d)+1
    d[a] = {"name" :user,"dob":dob,"Mobile" : mobile}
    print(d)

Addcustomer()

In [ ]:
# 42.	Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log
a = {
    "name": "Nilesh",
    "course": "MCA",
    "city": "Pune"
}

f = open("","w")
f.write(str(a))

In [ ]:
# 52.	Write a program to check frequency of each element in the list.
import random

number = list(random.sample(range(1,101),50))
print(number)

[27, 70, 77, 4, 39, 29, 47, 31, 58, 60, 15, 85, 90, 10, 32, 75, 65, 42, 3, 74, 76, 23, 73, 62, 63, 38, 66, 13, 56, 17, 94, 95, 83, 41, 80, 81, 22, 97, 34, 40, 16, 78, 99, 100, 30, 84, 98, 68, 52, 89]

In [ ]:
number = [1,2,3,4,5,6,1,2,3,4,5,6,1,2,3]
d = {}
for i in number :
  if i in d:
    d[i] = d[i] + 1
  else :
    d[i] = 1
print(d)

{1: 3, 2: 3, 3: 3, 4: 2, 5: 2, 6: 2}

In [ ]:
def fib ():
  a,b = 0,1
  n = int(input())
  for i in range (n):
    c = a+b
    print(c , end =" ")
    a = b
    b = c
fib()

10
1 2 3 5 8 13 21 34 55 89

In [ ]:
# 53.	There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
l1 =[ 1,2,3,4,5]
l2 =[3,2,8,7,9]

list(set(l1)&set(l2))

[2, 3]

In [ ]:
l = [i for i in range(2)]
l1 = [i for i in range(2)]

c = []

for i in l:
  for j in l1:
    c.append([i,j])
print(c)

[[0, 0], [0, 1], [1, 0], [1, 1]]

In [ ]:
def Factorial(n):
  if n == 0 or n==1:
    return 1
  else:
    return n*Factorial(n-1)
print(Factorial(4))

24

In [ ]:
def demo(a, b=10, *args, c, **kwargs):
    print(a, b)
    print(args)
    print(c)
    print(kwargs)

demo(1, 2, 3, 4, 5, c=100, name="Nilesh")

1 2
(3, 4, 5)
100
{'name': 'Nilesh'}

In [ ]:
from itertools import accumulate,count
import operator

data = [1, 2, 3, 4]

print(list(accumulate(data)))
print(list(accumulate(data, operator.mul)))

[1, 3, 6, 10]
[1, 2, 6, 24]

In [ ]:
for i in count(1,2):
  print(i)
  if i == 9:
    break

1
3
5
7
9

In [ ]:
nums = [1, 2, 3, 4]

a = list(map(lambda x : x**2,nums))
a

[1, 4, 9, 16]

In [ ]:
b = list(filter(lambda x : x < 4,nums))
list(b)

[1, 2, 3]

In [ ]:
from functools import reduce
c = reduce(lambda a,b: a+b,nums)
c

10

In [ ]:
from itertools import accumulate,repeat,islice
a= [i for i in range(20)]
b = accumulate(a)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:

c = islice(a,1,10,3)
print(list(c))

[1, 4, 7]

In [ ]:
from itertools import accumulate,repeat,islice,dropwhile

d = dropwhile((lambda x: x==5),a)
print(list(d))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#Q55 bill print
print("-" * 60)
print("{:^58}".format("Welcome Hotel Nilesh"))
print("-" * 60)
print("{:4} {:15} {:10} {:10}".format("sr", "Menu", "qunt", "price"))

menu = input("Enter menu (idli / dosa / vada): ").lower()
qty = int(input("Enter quantity: "))

price = 0
if menu == "idli":
    price = 60
elif menu == "dosa":
    price = 80
elif menu == "vada":
    price = 40
else:
    print("Invalid menu")
    exit()

total = price * qty

print("|{:4} {:15} {:10} {:10}|".format(1, menu, qty, price))
print("|" + " " * 58 + "|")
print("-" * 60)
print("|{:25} {:16}|".format("Total", total))
print("-" * 60)

------------------------------------------------------------
                   Welcome Hotel Nilesh
------------------------------------------------------------
sr   Menu            qunt       price